@media (min-width: 768px) {
  .add-client-box {
    width: 880px !important;
  }
    .add-client-box > div {
      width: 370px !important;
    }
}

.add-client-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 500px;
  border-radius: .5em;
  font-size: 14px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
}

.add-client-box > div {
  width: 370px;
  margin: 10px;
}

.btn-add {
  background-color: lightgray;
}


.pull-right {
  float: right;
}

.form-control {
  width: 300px;
}
/*

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}*/
