<table class="clients-list">
  <thead>
  <tr>
    <th>
      Number in line
    </th>
    <th>
      Full name
    </th>
    <th>
      Check-in time
    </th>
    <th>
      Status
    </th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let client of clients">
      <td>
        {{ client.numberInLine }}
      </td>

      <td>
        {{ client.fullName }}
      </td>

      <td>
        {{ client.checkInTime | date:'shortTime' }}
      </td>
      <td>
        {{ client.status }}
      </td>

    </tr>

  </tbody>
</table>

