
.row-header {
  font-weight: bold;
  width: 100%;
  padding: 10px;
  alignment: left;
  border-bottom: 1px solid lightgray;
}

.row-regular {
  width: 100%;
  padding: 10px;
  alignment: left;
  border-bottom: 1px solid lightgray;
}

.row-header > div {
  width: 100%;
}


.row-regular > div {
    width: 100%;
}
